@base-margin: 10px;
@base-padding: 10px;
@width: 100%;
@text-decoration: none;
/* media querys */
@media only screen and (max-width: 599px){
	.slider-wrapper .slider{
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 550px;
	}
	.slider-wrapper .slider img{
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -300px;
	}
}
/* fin media querys */
body{
	margin:0 auto;
	width:100%;
}
a{
	&:hover{
		text-decoration: @text-decoration;
	}
	&:active{
		text-decoration: @text-decoration;
	}
	&:visited{
		text-decoration: @text-decoration;
	}
}
.boxBorder(@x: 2px, @color: black, @type: solid){
	border: @arguments;
	-moz-border: @arguments;
	-webkit-border: @arguments;
	-o-border: @arguments;
	-ms-border: @arguments;
}
.boxRadius(@tam:10px, @tam2: 10px){
	border-radius:@arguments;
	-moz-border-radius:@arguments;
	-ms-border-radius:@arguments;
	-o-border-radius:@arguments;
	-webkit-border-radius:@arguments;
}
.boxShadow(@x: 0, @y:0, @blur:1px, @color:#000){
	box-shadow: @arguments;
	-moz-box-shadow: @arguments;
	-webkit-box-shadow: @arguments;
	-ms-box-shadow: @arguments;
	-o-box-shadow: @arguments;
}
.boxSizing(@x: border-box){
	box-sizing: @arguments;
	-moz-box-sizing: @arguments;
	-o-box-sizing: @arguments;
	-ms-box-sizing: @arguments;
	-webkit-box-sizing: @arguments;
}
.header{
	height:5em;
	width: @width;
	.boxBorder;
	padding:@base-padding+10px;
}
.logo{
	position: absolute;
	top: 4px;
}
/* menu principal */
.navbar{
	width: @width;
	background-image:url('../images/bg_header.png');
	padding: @base-padding+10px;
	list-style: none;
}
.menu{
	ul{
		list-style-type: none !important;
		font-weight: bold;
		margin: 0 auto;
		li a{
			color: #291f16;
			text-decoration: none;
			padding: @base-padding @base-padding+5px;
			display: block;
			//border-bottom:5px #009900 solid;
			&:hover{
				//border-bottom:5px black solid;
			}
		}
		> li{
			float: right;
		} 
	}
} 
/* fin menu principal */
.box{
	.boxBorder;
	.boxShadow;
	.boxRadius;
	padding:@base-padding;
	margin:@base-margin+10px;
}
/* inicio slider */

#slider-wrapper{
	position: relative;
	width: @width;
	max-width: @width;
	margin: 0 auto;
	padding: 0 @base-padding;
	font-family: arial,sans-serif,tahoma;
	font-size: 0;
	height: auto !important;
	max-height: 80% !important;
	.boxSizing;
	
}
#slider{
	position: relative;
	width: @width;
	text-align: center;
	padding-bottom: 50%;
	overflow: hidden;
	height: 80%;
	.boxSizing;
	> a{
		position: absolute;
		width: @width;
		top: 0;
		left: 0;
		min-height: 100%;
	}
	img{
		width: @width;
		max-width: 100%;
		min-width: 40%;
		min-height:100%;
		position: relative;
		margin: 0;
		padding: 0;
		border: 0;
		left: 100%;
		margin-left: -200%;
	}
	p{
		position: absolute;
		bottom: 5%;
		left: 0;
		display: block;
		overflow: hidden;
		white-space: nowrap;//eliminamos espacios en blanco de más
		text-overflow: ellipsis;//acabamos el texto si no cabe en ...
		width: 100%;
		height: 18px;
		margin: 0;
		padding: 10px;
		color: #eee;
		background: #333;
		font-size: 1em;
		line-height: 1em;
		text-align: center;
	}
	a.mas, a.menos {
		position: absolute;
		top: 50%;
		left: 10px;
		z-index: 5;
		width: 1.8em;
		min-height: 1.8em;
		text-align: center;
		line-height: 1.8em;
		font-size: 1.8em;
		color: white;
		background: #333;
		text-decoration: none;
	}
	a.mas{
		left: 90%;
	}
}
/* fin slider */
/* inicio footer */
footer{
	background-image: url('../images/bg_texture_yellow.jpg');
	bottom: 0 !important;
	clear: both;
}
.footer{
	padding: 15px;
}
#socialicon{
	background-repeat: no-repeat;
	position: relative;
	height: 34px;
	width: 400px;
	margin: 0 auto;
	li{
		list-style: none;
		//position: absolute;
		height: 34px;
		width: 34px;
		float: left;
		a{
			display: block;
			height: 34px;
			width: 34px;
			display: block;
		}
	}	
	#social1{background:url(../images/socialicons.png) 0px 0px;}
	#social2{background:url(../images/socialicons.png) -32px 0px;}
	#social3{background:url(../images/socialicons.png) -65px 0px;}
	#social4{background:url(../images/socialicons.png) -99px 0px;}
	#social5{background:url(../images/socialicons.png) -130px 0px;}
	#social6{background:url(../images/socialicons.png) -164px 0px;}
	#social7{background:url(../images/socialicons.png) -198px 0px;}
	#social8{background:url(../images/socialicons.png) -233px 0px;}
	#social1 a:hover{background:transparent url(../images/socialicons.png)  0px -34px;}
	#social2 a:hover{background:transparent url(../images/socialicons.png) -32px -34px;}
	#social3 a:hover{background:transparent url(../images/socialicons.png) -65px -34px;}
	#social4 a:hover{background:transparent url(../images/socialicons.png) -99px 34px;}
	#social5 a:hover{background:transparent url(../images/socialicons.png) -130px 34px;}
	#social6 a:hover{background:transparent url(../images/socialicons.png) -164px 34px;}
	#social7 a:hover{background:transparent url(../images/socialicons.png) -198px 34px;}
	#social8 a:hover{background:transparent url(../images/socialicons.png) -233px 34px;}
}

/* fin footer */
